
@font-face {
        font-family: Inconsolata;
        src: url('./include/fonts/Inconsolata.otf');
}

body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    /*font-family: "Open Sans", sans-serif;*/
    font-family: "Inconsolata", monospace;
    text-align: center;
}

h1{
	text-align:center;
}

ul {
	text-align: left;
}

#Margin-Left{
	position: absolute;
	Margin-Left:5px;
}
#Margin-Center{
	text-align:center;
}
#Margin-Right{
	position:absolute;
	Margin-Right:5px;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}
#titleHead {
	
	font-family: "Inconsolata";
}
#Collaborators {
 	font-size: larger;
	color: green;
	font-family: "Inconsolata";
	text-align: left;
	background-color:black;
}



footer {
	font-family: "Inconsolata";
	font-style: italic;
	font-size: 90%;
}

